.done-actions {
  margin: 0.5rem 0.925rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 0.5rem;
  ion-button {
    flex-grow: 1;
    --padding-top: 0.6rem;
    --padding-bottom: 0.6rem;
    --border-radius: 0.75rem;
  }

  &.disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}