<ion-content class="ion-padding">
  <app-edit-event-form #form [eventId]="eventId()"/>
  <div
    *ngIf="eventId()"
    class="done-actions"
    [class.disabled]="form.eventFormGroup.disabled"
  >
    <ion-button mode="ios" size="small" color="light" (click)="copyToClipboard()">
      <ion-icon name="link-outline" slot="start"/>
      <span> {{ EditEventPageLocalize.Link | localize }} </span>
    </ion-button>
    <ion-button mode="ios" size="small" color="light" (click)="share()">
      <ion-icon name="arrow-redo-outline" slot="start"/>
      <span> {{ EditEventPageLocalize.Share | localize }} </span>
    </ion-button>
    <ion-button mode="ios" size="small" color="light" (click)="redirectToEvent()">
      <ion-icon name="arrow-forward" slot="end"/>
      <span> {{ EditEventPageLocalize.GoTo | localize }} </span>
    </ion-button>
  </div>
</ion-content>