:host {
  display: flex;
  justify-content: space-between;
  align-items: center;
  // justify-content: flex-end;
}

.picker {
  &.disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  position: relative;
  display: flex;
  border-radius: 0.5rem;
  background-color: var(--ion-color-light, #f4f5f8);

  .item {
    z-index: 2;
    padding: 0.8rem 1.25rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    &:hover {
      opacity: 0.7;
    }
  }

  --border-size: 2px;
  &:after {
    content: '';
    transition: left 0.2s ease-in-out;
    z-index: 1;
    position: absolute;
    top: var(--border-size);
    bottom: var(--border-size);
    width: calc(50% - var(--border-size) * 2);
    box-shadow: var(--picker-box-shadow);
    background-color: var(--ion-background-color-step-350, #fff);
    border-radius: 0.5rem;
  }
  &.list:after {
    left: var(--border-size) !important;
  }
  &.calendar:after {
    left: calc(50% + var(--border-size)) !important;
  }
}

ion-button {
  margin: 0;
  --border-radius: 0.5rem;
  --padding-bottom: 0.75rem;
  --padding-end: 0.75rem;
  --padding-start: 0.75rem;
  --padding-top: 0.75rem;
}