
<ion-content class="ion-padding">
  <app-event-main-info
    #eventMainInfo
    appFeatureLoad
    [eventId]="eventId()"
  ></app-event-main-info>

  @let info = eventMainInfo.info();
  @let users = eventMainInfo.users();
  <ion-segment mode="ios" value="vote">
    <ion-segment-button value="info" contentId="info">
      <ion-label> {{ VotePageLocalize.Results | localize }} </ion-label>
    </ion-segment-button>
    <ion-segment-button value="vote" contentId="vote">
      <ion-label> {{ VotePageLocalize.Vote | localize }} </ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-segment-view mode="ios">
    <ion-segment-content id="info" [class.hide]="hideIonContent">
      <div class="segment-view-content">
        <app-result-filters
          #filters
          [disabled]="resLoading.loading$ | async"
          [maxMembers]="users?.length ?? 0"
          [maxOverlap]="result.info()?.maxOverlap"
        ></app-result-filters>
        <app-result-view-picker-control
          #viewPicker
          [disabled]="resLoading.loading$ | async"
          (refresh)="result.refresh()"
        ></app-result-view-picker-control>
        <app-result-view-picker-container
          appFeatureLoad
          placeholderOpacity="0.5"
          #resLoading="appFeatureLoad"
          [viewPick]="viewPicker.value()"
          appResultView
          #result="appResultView"
          [eventId]="eventId()"
          [min]="filters.membersCount()"
          [noMaybe]="filters.noMaybe()"
          [noTime]="filters.noTime()"
          [onlyWithMe]="filters.onlyWithMe()"
          [trimPast]="filters.trimPast()"
        >
          @switch (viewPicker.value()) {
            @case (ViewPick.List) { <app-result-view-list/> }
            @case (ViewPick.Calendar) { <app-result-view-calendar/> }
          }
        </app-result-view-picker-container>
      </div>
    </ion-segment-content>
    <ion-segment-content id="vote">
      <div class="segment-view-content">
        <app-vote-calendar
          appFeatureLoad
          placeholderOpacity="0.5"
          [eventId]="eventId()"
          [minDate]="info?.starts"
          [maxDate]="info?.ends"
          (voteUpdated)="
            $event.alreadyVoted ? true: eventMainInfo.refreshUsers();
            result.refresh()
          "/>
      </div>
    </ion-segment-content>
  </ion-segment-view>
</ion-content>
