<ion-searchbar
  mode="ios"
  clear-icon="close-outline"
  [debounce]="300"
  [placeholder]="UsersListLocalize.Search | localize"
  (ionInput)="searchStr.set($event.detail.value)"
  (ionFocus)="searchFocused.emit(true)"
  (ionBlur)="searchFocused.emit(false)"
></ion-searchbar>

<ion-list mode="ios">
  @for (user of filteredUsers(); track $index) {
    <ion-item
      [lines]="$last ? 'none' : ''"
      [button]="clickable()"
      (click)="onUserClicked($index, user)"
    >
      <ion-avatar slot="start">
        <img appImgLoad [src]="user.photoUrl"/>
      </ion-avatar>
      @if (altLabelTemplateRef) {
        <ng-container
          [ngTemplateOutlet]="altLabelTemplateRef"
          [ngTemplateOutletContext]="{
            $implicit: user,
            index: $index,
          }"
        ></ng-container>
      } @else {
        <ion-label> {{ user.fullName }} </ion-label>
      }
      @if (endTemplateRef) {
        <ng-container
          [ngTemplateOutlet]="endTemplateRef"
          [ngTemplateOutletContext]="{
            $implicit: user,
            index: $index,
          }"
        ></ng-container>
      }
    </ion-item>
  }
</ion-list>