<div class="vote-calendar">
  <div class="vote-calendar-header">
    <div class="chips">
      <ion-chip color="primary" class="ion-activated">
        <ion-icon name="checkmark-outline"></ion-icon>
        <ion-label> {{ VoteCalendarLocalize.Ready | localize }} </ion-label>
      </ion-chip>
      <ion-chip color="warning" class="ion-activated">
        <ion-icon name="help-outline"></ion-icon>
        <ion-label> {{ VoteCalendarLocalize.Maybe | localize }} </ion-label>
      </ion-chip>
      <ion-chip color="success" class="ion-activated">
        <ion-icon name="time-outline"></ion-icon>
        <ion-label> {{ VoteCalendarLocalize.Time | localize }} </ion-label>
      </ion-chip>
    </div>
     <span class="subtitle">
      {{ (isTouchDevice
            ? VoteCalendarLocalize.HoldDate
            : VoteCalendarLocalize.RightClickDate) | localize }}
      {{ VoteCalendarLocalize.SelectSpecificStatus | localize }} <br>
      {{ VoteCalendarLocalize.DoNotForgetSave | localize }}
    </span>
  </div>

  <ion-datetime
    #appIonDateSpecify="appIonDateSpecify"
    appIonDateSpecify
    [voteDates]="(voteDates$ | async) ?? []"
    (focusedTimeChanges)="updateTime($event)"
    [popover]="popover"
    [multiple]="true"
    [firstDayOfWeek]="1"
    [min]="minDate() ?? undefined"
    [max]="maxDate() ?? undefined"
    [locale]="localizeFormat$ | async"
    presentation="date"
    mode="ios"
  ></ion-datetime>
  
  <ion-buttons class="vote-calendar-actions" mode="ios">
    <ion-button color="medium" (click)="clearDates$.next(true)">
      {{ VoteCalendarLocalize.Clear | localize }}
    </ion-button>
    <div class="right">
      <ion-button color="danger" (click)="resetDates$.next(true)">
        {{ VoteCalendarLocalize.Cancel | localize }}
      </ion-button>
      <ion-button color="primary" (click)="saveDates$.next(appIonDateSpecify.voteDates)">
        {{ VoteCalendarLocalize.Save | localize }}
      </ion-button>
    </div>
  </ion-buttons>
</div>

<ion-popover #popover mode="ios" side="top" alignment="center" [arrow]="true">
  <ng-template>
    <div class="popover-content">
      <ion-button #readyButton size="small" color="primary" (click)="popover.dismiss({ ready: true })">
        <ion-icon name="checkmark-outline" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-button #maybeButton size="small" color="warning" (click)="popover.dismiss({ maybe: true })">
        <ion-icon name="help-outline" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-button #timeButton size="small" color="success" (click)="timeModal.present()">
        <ion-icon name="time-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </div>
  </ng-template>
</ion-popover>

<ion-modal #timeModal [initialBreakpoint]="1" [breakpoints]="[0, 1]">
  <ng-template>
    <div class="time-modal-content">
      <div class="time-pickers">
        <div class="pick">
          <ion-label> {{ VoteCalendarLocalize.StartTime | localize }} </ion-label>
          <ion-datetime [(ngModel)]="startTime" presentation="time" mode="ios"></ion-datetime>
        </div>
        <div class="pick">
          <ion-label> {{ VoteCalendarLocalize.EndTime | localize }} </ion-label>
          <ion-datetime [(ngModel)]="endTime" presentation="time" mode="ios"></ion-datetime>
        </div>
      </div>
      <ion-button
        mode="ios"
        [disabled]="isTimeInvalid()"
        (click)="
          timeModal.dismiss();
          popover.dismiss({
            time: true,
            start: startTime(),
            end: endTime()
          })">
        {{ VoteCalendarLocalize.SpecifyTime | localize }}
      </ion-button>
    </div>
  </ng-template>
</ion-modal>