.disabled {
  opacity: 0.5;
  pointer-events: none;
}

ion-accordion {
  background: var(--ion-color-light, #f4f5f8);
  border-radius: 0.5rem;
  --padding-end: 0;
}

.header-item {
  --inner-padding-end: 0.9rem;
}

ion-list {  
  background: var(--ion-color-light, #f4f5f8);
}
ion-item {
  --background: transparent;
  ion-text {
    opacity: 0.85;
  }
  ion-range {
    --knob-size: 22px;
  }
  &.range-list-item {
    margin-top: -0.65rem;
    --padding-start: 1px;
    --inner-padding-end: 0.2rem;
  }
}