ion-accordion-group {
  border-radius: 0.5rem;
}

ion-list.info-list {
  margin-top: 0.5rem;
  background: transparent;
}
ion-item {
  --background: transparent;

  &.header-item {
    border-radius: 0.5rem;
    --padding-start: 0.75rem;
    --min-height: 3.7rem;
    ion-avatar {
      width: 2.75rem !important;
      height: 2.75rem !important;
    }
    .menu-button {
      margin-right: -1rem;
      ion-icon {
        font-size: 1.25rem;
      }
    }
    ::ng-deep {
      .ion-accordion-toggle-icon {
        position: absolute;
        right: 3rem;
      }
    }
  }

  &.notes-item {
    ion-label {
      margin-bottom: auto;
    }
    ion-note {
      padding: 0.5rem 0;
      margin-left: max(20%, 2.5rem);
      text-align: end;
    }
  }
}

ion-popover {
  --offset-y: -0.25rem;
  --offset-x: -0.6rem;
  --width: auto;
  .popover-menu-list {
    padding: 0.25rem 0;
    background-color: var(--ion-background-color-step-100);
    white-space: nowrap;
  }
}

app-avatars-list {
  opacity: 0.9;
}

ion-modal {
  --height: auto;
  app-users-list {
    height: 60vh;
    padding: 1rem;
  }
}

.username {
  font-size: 0.85rem;
}
