ion-list {
  // background: transparent;
  background: var(--ion-color-light, #f4f5f8);
  border-radius: 0.5rem;
  padding-block: 0.25rem;
}

ion-item {
  --background: transparent;
}

.no-data {
  font-size: 0.9rem;
  line-height: 0.9rem;
}